rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /trips/{tripId} {
      // Bloqueamos la lectura pública (ahora el join se hace por Cloud Function)
      allow create: if isAuthenticated();
      // Regla ajustada para coincidir EXACTAMENTE con la consulta del frontend:
      // where(`members.${userId}`, 'in', ['owner', 'editor', 'viewer'])
      allow read, update, delete: if isAuthenticated() && (resource.data.members[request.auth.uid] in ['owner', 'editor', 'viewer']);
      
      match /{subcollection}/{docId} {
        allow read, write: if isAuthenticated() && (request.auth.uid in get(/databases/$(database)/documents/trips/$(tripId)).data.members);
      }
    }
  }
}
